<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
   
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <style>
    
    </style>
  </head>
  <body style="position: absolute; left: 0; right: 0; top: 0; bottom: 0; background-image: url('/images/background.png'); background-attachment: fixed;   background-size: cover;
  background-repeat: no-repeat;">
  
    <main style="margin-top: 100px; ">
        <div class="container-fluid">
          <div class="row align-items-center">
            <div class="col">
            </div>
              <div class="col" style="align-items: center;">
              <div class="container-fluid" style="align-content: center">
                <img src="/images/logo.png" style="height: 100px; margin-left: 40%;"> 
              </div>    
                  <form action="/" method="post">
                    <div class="form-group">
                      <label for="email">E-Mail</label>
                      <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Insira o e-mail">
                    </div>

                    <div class="form-group">
                      <label for="password">Senha</label>
                      <input type="password" name="password" class="form-control" id="password" aria-describedby="passwordHelp" placeholder="Insira sua senha">
                    </div>

                   
                    
                    <button type="submit" class="btn btn-primary">ENTRAR</button>
                    <a href="/register"> Cadastrar</a>
                  </form>
              </div>
          </div>
        </div>
    
    </main>
  </body>
</html>
