<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
   
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <style>
    
    </style>
  </head>
  <body style="position: absolute; left: 0; right: 0; top: 0; bottom: 0; background-attachment: fixed;   background-size: cover;
  background-repeat: no-repeat;">
  
    <main style="margin-top: 100px; ">
        <div class="container-fluid">
          <div class="row align-items-center">
              <div class="col" style="align-items: center;">
              <div class="container-fluid" style="align-content: center">
                <h1>Tela de Postagem</h1>
              </div>    
                  <form action="/newpost" method="post">
                    <div class="form-group">
                      <label for="title"> Insira um titulo</label>
                      <input type="text" name="title" class="form-control" id="title" aria-describedby="titleHelp" placeholder="Insira um titulo para sua postagem">
                    </div>
                    <div class="form-group">
                      <label for="subtitle">Insira um subtitulo</label>
                      <input type="text" name="subtitle" class="form-control" id="subtitle" aria-describedby="subtitleHelp" placeholder="Insira um subtitulo para seu post">
                    </div>
                    <div class="form-group">
                        <label for="content"> Insira o conteudo</label>
                        <textarea type="text" name="content" class="form-control" id="content" aria-describedby="contentHelp" placeholder="Insira o conteudo da sua postagem"></textarea> 
                    </div>
                    <button type="submit" class="btn btn-primary">Postar</button>
                  </form>
              </div>
          </div>
        </div>
    
    </main>
  </body>
</html>
