body {
  background-image: url("../images/background.png");
  background-attachment: fixed;
  background-size: 100%;
  color: white;
  background-color: black;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}



a {
  color: #00B7FF;
}

.c1{
  background-color: black;
}

.col{
  height: 100%;
}