body {
  
  
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

main{
  background-image: url("../images/background.png");
  background-attachment: fixed;
  background-size: 100%;
  background-repeat: no-repeat;
  color: white;
}